[submodule "pylstar"]
	path = pylstar
	url = https://github.com/gbossert/pylstar.git
[submodule "MNRL"]
	path = MNRL
	url = https://github.com/kevinaangstadt/mnrl.git
[submodule "klee"]
	path = klee
	url = https://github.com/klee/klee.git

